$color-accent: #ee3b24;
$color-dark: #010101;
$color-light-dark: #282828;
$color-gray: #545454;
$color-gray2: #d8d8d8;
$color-gray3: #cbcbcb;
$color-gray4: #b2b2b2;
$color-gray5: #343434;
$color-light-gray: #e9ecef;
$color-light: #fefefe;
